<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ImGui.NET" version="1.91.6.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="Unity3D.UnityEngine" version="2018.3.5.1" targetFramework="net48" />
</packages>